<% @elections.each do |election| %>
<div class="election">
	In the "<%= election.name %>" election:

	<% @positions.each do |position| %>
	<div class="position">
		For the "<%= position.name %>" position:

		<% position.candidates.each do |candidate| %>
		<div class="candidate-profile">
			<%= candidate.name %>
		</div>
		<% end %>

	</div>
	<% end %>

</div>
<% end %>
