<div class="election-live">
	<div class="contents">
		<div class="liveness">
			<%= (@percentage * 100.0).round(3).to_s + '%' %>
		</div>

		<div class="title">In the <%= @election.name %> election</div>
	</div>
</div>
