/*
   Place all the styles related to the matching controller here.
   They will automatically be included in application.css.
 */

.position {
	background-color: #f0f0f0;
	padding: 8pt;
	margin-bottom: 2em;
}

.position .instruction:not(:last-child) { margin-bottom: 1em; }
