/*
   Place all the styles related to the matching controller here.
   They will automatically be included in application.css.
 */

.position {
	background-color: #f0f0f0;
	padding: 8pt;
	margin-bottom: 2em;
}

.position-title {
	font-size: 14pt;
	padding-bottom: 3pt;
}

.candidates-container {
	margin-left: 8pt;
}

.candidates-container .candidate {
	margin-bottom: 8pt;
}

.candidates-container .candidate .candidate-name {
	font-size: 12pt;
}
