<!DOCTYPE html>
<html>
  <head>
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Roboto:100" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Raleway:100" rel="stylesheet">
    <title>SGA Voting</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
		<meta name="viewport" content="width=device-width">
  </head>

  <body>
		<%= yield %>
  </body>
</html>
